body {
    font-size: 80%;
    font-family: sans-serif;
}

h1 {
  font-size: 200%;
  font-weight: bold;
}

h2 {
  font-size: 150%;
  font-weight: bold;
}

h3 {
  font-size: 120%;
  font-weight: bold;
}

h4 {
  font-size: 100%;
  font-weight: bold;
}

.foot {
  font-size: 80%;
  text-align: center;
}
